div,p,h1,h2,h3,body,tr,td{
    margin: 0;
    padding: 0;
}

body{
   text-align: center;
    font-family: "Myriad Pro";
    font-size: 14px;
    color: #646464;
}

#wrapper {
    display: block;
    margin: 100px auto 0; 
    max-width: 940px;
    padding: 0 30px;
}

.head{
    font-size: 16px;
}

.odd_data{
    background: #e6e6e6;
}

table{
    border-collapse: collapse;
    border-style: hidden;
    border-radius: 5px;
    box-shadow:0 0 0px 2px #e5e3e3;
}



td{
    border: 1px solid #d1d1d1;
    padding: 16px;
}

td img{
    margin-right: 10px;
    margin-left: 10px;
}
table tr:first-child td {
   padding: 16px 30px; 
}

